$color-background: #EDF2EC;
$color-heading: #499A18;
$color-brand: #E06733;
$color-dark: #000000;
$color-light: #ffffff;
$color-nav:#010201;
$color-text7: #717171;
$color-text6: #636060;

$content-width: 1222px;
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;
