.burger-cross {
    display: none;
}

.burger__item {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.nav_active {
    @include media-mobile {
        top: 0px;
        box-shadow: 0 10000px 0 10000px rgb(0 0 0 / 50%);
    }
}

// ._active-menu {
// }

// .burger-cross {
//     display: block;
// }

// .hamburger {
//     display: none;
// }

// .header_burger {

// }