.Contact-us {
    padding-top: 60px;
    max-height: 550px;
    @include media-tablet {
        padding-top: 40px;
        max-height: 100%;
    }
}

.wrapper__contacts {
    display: flex;
    justify-content: space-between;

    @include media-tablet {
        flex-direction: column-reverse;
        align-items: center;
    }
}

// .contacts__container {

// }
.contacts__title {
    font-family: 'Inika', Verdana, sans-serif;
    text-align: center;
    @include font (normal, 700, 40px, 52px);
    margin-bottom: 37px;
    @include media-tablet {
        margin-bottom: 100px;
    }
}

.contacts__img {
    position: relative;
    bottom: 95px;

    @include media-tablet {
        width: 200px;
        position: static;
    }
}

.form__select {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    background: #D6E7D2;
    padding: 5px 17.5px 5px 20px;
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-tablet {
        margin-bottom: 250px;
    }

    &:hover {
        background: #C1E698;
    }
}

.contacts__text {
    @include font(normal, 400, 20px, 40px, #717171);
}

.contacts__select {
    background: inherit;
    width: 16px;
    height: 16px;
    border: none;
    background: #D9D9D9;
    border-radius: 50%;
    text-align: center;
}