.header {
 
    padding: 42px 0 2px;
    @include media-tablet {
        padding: 35px 0;
        // top: 0px;
        //    position: relative;
        //   transition: top 0.9s ease 0.3s;
        //    right: 0;
    }
  
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend %font-add;
}

.header__item {
display: none;
}

