.prices {
    padding: 40px 0 115px;
    background-color: $color-light;

    @include media-tablet {
        padding: 40px 0 88px;
    }

    @include media-mobile {
        padding: 25px 0 40px;
    }
}

.wrapper__prices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media-mobile {
        flex-direction: column;
    }
}

.prices__tariffs {
    @include media-mobile {
        padding: 0 53px;
    }
}

.tariffs-title {
    @include font (normal, 700, 4rem, 4.8rem);
    margin-bottom: 60px;

    @include media-tablet {
        @include font (normal, 700, 3.5rem, 4.2rem);
        margin-bottom: 57px;
    }

    @include media-mobile {
        text-align: center;
        margin-bottom: 40px;
        @include font (normal, 700, 25px, 30px, #000000);
    }
}

.tariffs {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 40px 0;

    @include media-mobile {
        padding: 29px 22px;
    }
}

.tariff__container {
    background: #EDF2EC;
    margin-bottom: 32px;
    padding: 16px 40px 14px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    @include media-mobile {
        width: 100%;
        padding: 16px 30px;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:hover {
        background: #D6E7D2;
    }
}

.tarif__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//------ACTIVE PRICE ----------------------

.active__prise {
    display: none;
    display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    background: #D6E7D2;
    // height: 154px;
}

.active__line {
    padding-bottom: 12px;
    border-bottom: solid 0.5px #AEA1A1;
    width: 100%;
}

.active__part2 {
    display: flex;
    flex-direction: column
}

.activ__text {
    @include font(normal, 300, 10px, 10px, $color-text7);
    padding: 6px 0 2px;
}

.activ__cost {
    padding-bottom: 10px;
}

.cost__title {
    @include font (normal, 700, 16px, 20px, $color-brand);
}

.cost__text {
    @include font(normal, 400, 12px, 20px, $color-dark);
}

.button__cost {
    background: $color-light;
    border-radius: 10px;
    @include font(normal, 700, 14px, 20px, $color-text7);
    border: none;
    padding: 3px 20px;
    width: 86px;
}

.tariff {
    width: 16px;
    height: 16px;
    border: none;
    background: #D9D9D9;
    border-radius: 50%;
    text-align: center;
    // font-size: 10px;
    background: url("../../img/prices/buttonPriseBottom.svg");
}

.active_tariff {
    background: url("../../img/prices/buttonPriseUp.svg");
}

.tariff__text {
    @include font (normal, 700, 2rem, 2rem);

    @include media-mobile {
        @include font (normal, 700, 15px, 20px)
    }
}


//---------HELP CONTAINER ------------------

.help {
    text-align: right;


    @include media-tablet {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 99px 0 0 40px;
    }

    @include media-mobile {
        padding: 19px 0 0 0;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
}


.help__title {
    @include font (normal, 700, 4rem, 5rem);
    max-width: 460px;
    margin-bottom: 38px;

    @include media-tablet {
        @include font (normal, 700, 2.2rem, 3.5rem);
        margin-bottom: 30px;
        max-width: 296px;
    }

    @include media-mobile {
        text-align: center;
        margin-bottom: 14px;
        @include font (normal, 700, 20px, 35px);
        // word-wrap: break-word;
        // flex-wrap: wrap;
        // white-space: normal;
    }
}

.prices__img {
    max-width: 152px;
    max-height: 175px;

    @include media-mobile {
        display: none;
    }
}

.button__prices {
    margin-bottom: 39px;

    @include media-tablet {
        margin-bottom: 34px;
    }

    @include media-mobile {
        margin-bottom: 0;
        font-weight: 700;
        background: $color-light;
        padding: 8px 22px;
        font-family: "Inika", sans-serif;
    }

}