.projects {
    padding: 40px 0 121px;

    @include media-tablet {
        padding: 60px 0 70px;
    }

    @include media-mobile {
        padding: 30px 0 27px;
    }
}

.projects__title {
    display: flex;
    margin-bottom: 90px;

    @include media-tablet {
        flex-direction: column;
        margin-bottom: 40px;
    }
}

.project__subtitle {
    max-width: 306px;
    margin-right: 142px;
    font-family: 'Inika', verdana, sans-serif;
    font-weight: 400;
    font-size: 4rem;
    line-height: 5.2rem;


    @include media-tablet {
        margin-bottom: 42px;
        margin-right: 0;
        line-height: 46px;
    }

    @include media-mobile {
        @include font (normal, 400, 2.5rem, 3.3rem);
        margin-bottom: 35px;

    }
}

.title__buttons {
    display: flex;
    // max-width: 597px;
    justify-content: space-around;
    align-items: center;

    @include media-tablet {
        justify-content: flex-start;
    }

    @include media-mobile {
        flex-wrap: wrap;
        gap: 9px;
        justify-content: flex-start;
    }

    .button_borded {
        margin-right: 38px;
        font-family: 'Inika';
        @include font (normal, 400, 20px, 26px);

        @include media-mobile {
            margin: 0;
            @include font (normal, 400, 15px, 20px);
            text-align: center;
        }
    }
}

.layout-3-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 116px;
    grid-row-gap: 55px;

    @include media-tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 106px;
        grid-row-gap: 38px;
    }
    @include media-mobile {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 34px;
        padding: 0 25px;
    }
}


.project {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    overflow: hidden;
}

// .project__img {
//     @include media-tablet {
//         max-width: 280px;
//         max-height: 350px; 
//     }
// }

.project__title {
    @include font (normal, 700, 2rem, 2rem, #E06733);
    margin-bottom: 10px;
}

.project__discription {
    padding: 10px 0 36px;
    text-align: center;

    @include media-tablet {
        padding: 4px 39px 20px;
    }
}

.project__text {
    @include font (normal, 400, 16px, 20px, #717171)
}